body
{
	color: #444444;
	background-color: #F6F6F6;
	line-height: 1.5;
	font-size: 18px;
	margin-right: 60px;
	margin-left: 60px;
	padding: 0 ;
	max-width: 650px;

}

h1, h2, h3
{line-height: 1.2;
}